.login__form, .logout__main {
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
}

.login__input {
    align-self: center;
    width: 100%;
    height: 25px;
    margin: 5px 0;
    padding-left: 5px;
    font-size: 11.5px;
    border: 1px solid rgba(0,0,0,0.3);
    outline: none;
}

.logout__username {
    align-self: center;
    width: 100%;
    height: auto;
    margin: 10px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.login__btn, .logout__btn {
    align-self: center;
    width: 198px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top: 5px;
    border: 1px solid rgba(0,0,0,0.3);
    user-select: none;
    cursor: pointer;
}

.login__error {
    width: 100%;
    display: block;
    color: red;
    font-size: 12px;
    opacity: 0;
    text-align: center;
    user-select: none;
    transition: 0.2s;
}